# Created by .ignore support plugin (hsz.mobi)
.idea/
.git/
package-lock.json
node_modules/
server/**/*.js
server/**/*.js.map
bower_components/
angular-phonecat/
client/**/*.js
client/**/*.js.map
*.css
*.css.map
*.min.css