# Created by .ignore support plugin (hsz.mobi)
.idea/
.git/
package-lock.json
node_modules/
server/**/*.js
server/**/*.js.map
server/**/*.css
server/**/*.css.map
bower_components/
angular-phonecat/
client/**/*.js
client/**/*.js.map
client/**/*.css
client/**/*.css.map