<!DOCTYPE html>
<html lang="en" ng-app="bpp">
<head>
    <title><%= title; %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap-grid.min.css'/>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap-reboot.min.css'/>
</head>
<body ng-controller="ItemsController">

<h3>
    <div>{{'Hello' + ' ' + 'bpp'}}</div>
</h3>

<div>
    <div ng-repeat="item in items">
        <div>{{item.id + ', ' + item.name}}</div>
    </div>
</div>

<button class="btn btn-success">aClick</button>
<hr>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bundle.js"></script>
<script>
</script>
</body>
</html>
