<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p id="a-id">Hello, <%= title %></p>
    <h3><%= "ts introduced" %></h3>
  </body>
</html>
