<!DOCTYPE html>
<html>
<head>
    <title><%= title; %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<p id="a-id">Hello, <%= title; %></p>
<h3><%= "ts introduced"; %></h3>
<h3 id="b-id" style=""></h3>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script>
  $(document).ready(() => {
    console.log("bower introduced")
    $("#b-id").text("bower introduced")
  })
</script>
</body>
</html>
